<article id="leftBar">
    <h2>Mes Contacts</h2>

    <ul>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle failed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
        <li>
            <span class="box-start">
                <img src="{{ asset('build/images/profil.svg') }}" class="profil m-r-1" alt="no-avatar-user" title="Utilisateur sans avatar" />
                John Do
            </span>
            <i class="fa-solid fa-circle succeed"></i>
        </li>
    </ul>
</article>